input:hover, input:active, input:focus, 
select:hover, select:active, select:focus
textarea:hover, textarea:active, textarea:focus {
    background-color: #F3F1F4;
    border: 3px solid #ccc;
}


.styled-button-4 {
	-webkit-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
	background-color:#EEE;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border:1px solid #999;
	color:#666;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	font-size:14px;
	font-weight:700;
	padding:2px 6px;
	height:31px;
}

#left {
	float: left;
	display: inline-block;
	padding: 5px 5px 0 0;
}

#right{
    float: right;
    display: inline-block;
}
#span1 {
    display: block;
    overflow: hidden;
    padding: 5px 5px 0 0;
}


.styled-label-1 {
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	font-size:14px;
	font-weight:700;

}

#eingabeFeld {
    width: 95%;
    float: right;
}





.styled-legend-1 {
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	font-size:16px;
	font-weight:700;
}


#styled-formset-div-2 {
	left: 50%;
  	margin-left: -240px;
  	margin-right: auto;
  	position: absolute;
  	margin-top: 50px;
}

#styled-formset-div-2 p {
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	font-size:13px;
	font-weight:500;
}

#styled-formset-2 {
	/*display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;*/
	width: 480px;
	padding:10px;
}

#styled-formset-2 div {
	margin: auto;
	position: related;
	display: inline-block;
}

#headerPanel {
	z-index: 1;
	position: fixed;
	width: 99%;
	clear: both;
	margin-top: -20px;
	height: 60px;
	background:#e8eaeb;
	margin-bottom: 10px;
	-moz-border-radius:5px; /* FF1+ */
	-webkit-border-radius:5px; /* Saf3-4 */
	border-radius:5px;
	/*font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	font-size:14px;*/
	text-align: center;
}

#headerPanel h1 {
	position: relative;
	display: inline-block;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	font-size:16px;
	margin-top:25px;
	 white-space:nowrap;
	/*padding-top: 15px;*/
}



#footer {
	position: fixed;
	bottom: 0px;
	height: 50px;
	background-color: #e8eaeb;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	/*color: #ffffff;*/
	width: 99%;
}

#footer p {
	position: relative;
	display: inline-block;
	margin-left:44px;
}
#footer a {
	display: inline-block;
	float:right;
	margin-right: 10px;
	margin-top:10px;
}


